.gallery {
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gallery-button {
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px black,
    0 0 6px black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gallery-button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.next {
    right: 0;
}

.previous {
    left: 0;
}

.main-image-section,
.main-image-section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.main-image-section img,
.main-image-section-right img {
    max-width: 100%;
    height: auto;
}

.image-caption {
    max-width: 500px;
    height: auto;
    padding: 50px;
    background-color: beige;
    text-align: center;
}

.left {
    margin-left: -50px;
}

.right {
    margin-right: -50px;
}

.image-left {
    z-index: -1;
}

@media only screen and (max-width: 1000px) {
    .main-image-section {
        flex-wrap: wrap;
    }

    .main-image-section-right {
        flex-wrap: wrap-reverse;
    }
    
    .image-caption-box.left,
    .image-caption-box.right {
        padding: 0 10px;
        margin: 0;
    }
    
    .image-caption {
        margin-top: -25px;
        margin-left: 0;
    }
}