* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    scroll-behavior: smooth;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    background-color: lightblue;
}

.header-logo {
    width: 250px;
    height: 150px;
    background-color: blue;
    flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .header-links {
        justify-content: space-evenly;
        width: 100%;
    }
}

.header-links {
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;
    width: 75%;
    margin: 0 auto;
}