* {
    box-sizing: border-box;
}

/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline-block;
}

.hours {
    display: flex;
    align-items: center;
}

.space-left {
    margin: 0 0 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
}

.header-logo img {
    max-width: 100%;
    height: auto;
    transition: opacity .3s ease;
}

.header-logo img:hover {
    opacity: 0.7;
}

.header-links {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
}

.header-link {
    text-decoration: none;
    position: relative;
    color: #000;
    text-align: center;
    padding: 5px;
}

.header-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #f78154;
}

.header-link-underline::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header-link-underline:hover::after {
    transform: scale(1, 2);
}

.slider-container {
    position: relative;
    margin: auto;
    box-shadow: 0 5px 10px 5px black;
}

.slider-container img {
    display: block;
}

.slider-image {
    max-width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    color: #fff;
    font-size: 18px;
}

.slide-text h2 {
    font-size: 64px;
    margin-bottom: -20px;
}

.slide-text.left {
    left: 8%;
    bottom: 30%;
    animation: slideIn 0.7s ease-out forwards;
}

.slide-text.right {
    right: 8%;
    bottom: 20%;
    text-align: right;
    animation: slideIn 0.7s ease-out forwards;
}

.button {
    width: 180px;
    padding: 16px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #f2c14e;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: background-color ease 0.3s;
    font-weight: bold;
}

.button.black {
    width: 250px;
    color: #333;
}

.button:hover {
    background-color: #f2c14e;
}

.slides.active {
    opacity: 1;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 51px);
    color: white;
    font-size: 64px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.slider-container:hover .prev,
.slider-container:hover .next {
    opacity: 1;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.dots {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;
}

.intro {
    background-image: url('images/main/intro-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 50px;
}

.text {
    max-width: 50%;
    padding: 50px;
}

.intro img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.small-title {
    font-weight: normal;
}

.about-title {
    font-size: 16px;
}

.about-title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 3px;
    background: #f2c14e;
    position: relative;
}

.donation {
    position: relative;
    color: white;
}

.donation-text {
    position: absolute;
    text-align: right;
    bottom: 24px;
    right: 16px;
    text-shadow: 0px 0px 20px #000;
}

.donation a {
    color: #f2c14e;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: color .3s;
    margin-bottom: 10px;
}

.donation a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #f2c14e;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s
}

.donation a:hover::after {
    width: 100%
}

.animal-sec {
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.things {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-numbers {
    display: flex;
    gap: 64px;
}

.things .numbers {
    font-weight: bold;
    display: block;
    font-size: 32px;
}

.animals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 16px;
    column-gap: 32px;
    flex-wrap: wrap;
    padding: 25px;
}

.animal {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}

.animal:nth-child(3n+1) {
    background-color: #f4f4f4;
}

.animal:nth-child(3n+2) {
    background-color: #f2c14e;
}

.animal:nth-child(3n) {
    background-color: #f78154;
}

.animal p {
    font-size: 20px;
}

.animal div {
    margin-top: 40px;
}

.animal:hover {
    transform: translate(0, -25px);
}

.gallery {
    margin-top: 50px;
}

.img-row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
}

.img-column {
    flex: calc(100% / 3);
    padding: 0 4px;
}

.img-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-image {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.gallery-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.counter {
    display: inline-block;
}

.services-sec {
    background-image: url(images/main/services-bg.jpg);
}

.services {
    display: flex;
    max-width: 75%;
    margin: 50px auto;
    padding: 50px;
    gap: 32px;
}

.services-title {
    flex: 1;
}

.mobile-app {
    flex: 2;
    display: flex;
    gap: 16px;
    background-color: #f2c14e;
    padding: 50px;
    color: #fff;
}

.amenities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.amenity {
    padding: 50px;
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
}

.amenity p {
    font-size: 14px;
}

.tickets {
    margin: 100px auto 0px auto;
    width: 100%;
    text-align: center;
    background-image: url(images/main/owl.png);
    background-repeat: no-repeat;
    background-position: right;
}

.tickets table {
    border-collapse: collapse;
    margin: 50px auto;
    width: 60%;
}

.tickets th {
    background-color: #f2c14e;
    padding: 10px;
}

.tickets tr:nth-child(even) {
    background-color: #f4f4f4;
}

.tickets td {
    padding: 10px;
}

.membership {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.map {
    position: relative;
    max-width: 1380px;
    height: 290px;
    background-image: url(images/main/map.jpg);
    background-position: center;
    margin: 100px auto 50px auto;
}

.map-text {
    position: absolute;
    top: 60px;
    left: 80px;
}

.map-text button {
    border-color: #fff;
}

.map-text button:hover {
    background-color: #fff;
}

.card {
    height: 500px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px 3px #ccc;
    max-width: 325px;
    background-color: rgba(255, 255, 255, 0.5)
}

.card h2 {
    font-size: 3em;
    color: #f78154;
}

.single-tickets {
    margin-top: 100px;
}

.media-links {
    text-align: center;
    padding: 100px 0;
}

.media-links h1 {
    color: #f78154;
    margin-bottom: -15px;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto 0px auto;
}

.media-icons svg {
    fill: #000;
    transition: fill .3s ease;
}

.media-icons svg:hover {
    fill: #f78154;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #4d9078;
    margin: 0 auto;
    color: #fff;
    padding: 50px 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-columns ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 300px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer hr {
    width: 10%;
    color: #fff;
    margin-top: 50px;
}

.footer-credit {
    text-align: center;
    padding-top: 50px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    .slider-container {
        box-shadow: 0 5px 10px 2.5px;
    }

    .prev,
    .next {
        font-size: 32px;
        top: calc(50% - 20px);
        opacity: 1;
    }

    .services {
        flex-wrap: wrap;
    }

    .services-title,
    .mobile-app {
        flex: 100%;
    }
}

@media (max-width: 1000px) {
    .header {
        display: flex;
        gap: 16px;
        width: 100%;
        flex-direction: column;
    }

    .header-logo img {
        padding: 0 10px;
    }

    .slide-text h2 {
        font-size: 32px;
    }

    .slide-text {
        font-size: 14px;
    }

    .slide-text button {
        font-size: 14px;
    }

    .intro {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .text,
    .services {
        max-width: 100%;
        padding: 25px;
    }

    .text h1 {
        font-size: 32px;
    }

    .animal-sec {
        width: 100%;
    }

    .things {
        flex-direction: column;
    }

    .img-row {
        align-items: start;
        justify-content: center;
    }

    .img-column {
        flex: 50%;
        max-width: 50%;
    }

    .img-column3 {
        display: flex;
        width: 100%;
        gap: 8px;
    }

    .overlay-content {
        padding: 10px;
        width: 90%;
    }

    .overlay-img {
        max-width: 100%;
        margin: 0 auto;
    }

    .mobile-app {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .slide-text h2 {
        font-size: 24px;
    }

    .dot,
    .slide-text p,
    .slide-text button,
    .text-numbers {
        display: none;
    }

    .tickets {
        width: 90%;
    }

    .text p {
        font-size: 16px;
    }

    .map-text {
        top: 40px;
        left: 40px;
    }

    .media-links {
        padding: 30px 0;
    }

    .media-icons {
        margin-top: 20px;
    }

    .media-icons svg {
        width: 35px;
    }

    .img-column {
        flex: 100%;
        max-width: 100%;
    }

    .img-column3 {
        display: block;
    }
}