* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 18px;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Hind', sans-serif;
    letter-spacing: .5px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    background-color: lightblue;
}

.header-logo {
    width: 250px;
    height: 150px;
    background-color: blue;
    flex-shrink: 0;
}

.header-links {
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

.media-links {
    text-align: center;
    background-color: lightgreen;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 660px;
    margin: 40px auto;
}

.media-icons svg:hover {
    fill: blue;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #215732;
    margin: 0 auto;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline wavy 2px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-columns ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 260px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer hr {
    width: 25%;
    color: #fff;
    margin-top: 50px;
}

.footer-credit {
    text-align: center;
    padding-top: 50px;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .header-links {
        justify-content: space-evenly;
        width: 100%;
    }
}