* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Hind', sans-serif;
    letter-spacing: .5px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
}

.header-logo img {
    max-width: 100%;
    height: auto;
    transition: opacity .3s ease;
}

.header-logo img:hover {
    opacity: 0.7;
}

.header-links {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
}

.header-link {
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    padding: 5px;
}

.header-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #54844d;
}

.header-link-underline::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header-link-underline:hover::after {
    transform: scale(1, 2);
}

.gallery {
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gallery-button {
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 4px black,
    0 0 6px black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gallery-button:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.next {
    right: 0;
}

.previous {
    left: 0;
}

main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}

.media-links {
    text-align: center;
    padding: 50px 0;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto 0px auto;
}

.media-icons svg {
    fill: #000;
    transition: fill .3s ease;
}

.media-icons svg:hover {
    fill: #4b625f;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #54844d;
    margin: 0 auto;
    color: #fff;
    padding: 50px 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-columns ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 300px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer hr {
    width: 10%;
    color: #fff;
    margin-top: 50px;
}

.footer-credit {
    text-align: center;
    padding-top: 50px;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .header-logo img {
        padding: 0 10px;
    }

    .header-links {
        flex-wrap: nowrap;
        gap: 5px;
        justify-content: space-around;
        width: 100%;
        padding: 0 10px;
    }

    .header-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #54844d;
    }

    .header-link-underline::after {
        transform: scale(1)
    }

    .header-link-underline:hover::after {
        transform: none;
    }
}