* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    scroll-behavior: smooth;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    background-color: lightblue;
}

.header-logo {
    width: 250px;
    height: 150px;
    background-color: blue;
    flex-shrink: 0;
}

.header-links {
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.media-links {
    text-align: center;
    background-color: lightgreen;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 660px;
    margin: 40px auto;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    margin: 0 auto;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-columns ul {
    list-style: none;
    padding-left: 0;
}

.footer-column.column1 {
    padding: 0 0 0 40px;
}

.footer-column.column2,
.footer-column.column3 {
    padding: 0 40px;
}

.footer-column.column4 {
    padding: 0 40px 0 0;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .header-links {
        justify-content: space-evenly;
        width: 100%;
    }

    .footer-columns {
        width: 300px;
        margin: 0 auto;
    }
    
    .footer-column.column1,
    .footer-column.column2,
    .footer-column.column3,
    .footer-column.column4 {
        padding: 0 40px;
    }
}