* {
    box-sizing: border-box;
}

html,
body {

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .5px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline-block;
}

.hours {
    display: flex;
    align-items: center;
}

.space-left {
    margin: 0 0 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
}

.header-logo img {
    max-width: 300px;
    height: auto;
    transition: opacity .3s ease;
}

.header-logo img:hover {
    opacity: 0.7;
}

.header-links {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
}

.header-link {
    text-decoration: none;
    position: relative;
    color: #000;
    text-align: center;
    padding: 5px;
}

.header-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #f78154;
}

.header-link-underline::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header-link-underline:hover::after {
    transform: scale(1, 2);
}

.slider-container {
    position: relative;
    margin: auto;
    box-shadow: 0 5px 10px 5px black;
}

.slider-container img {
    display: block;
}

.slider-image {
    max-width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    color: #fff;
    font-size: 18px;
}

.slide-text h2 {
    font-size: 64px;
    margin-bottom: -20px;
}

.slide-text.left {
    left: 8%;
    bottom: 30%;
}

.slide-text.right {
    right: 8%;
    bottom: 20%;
    text-align: right;
}

.slide-text button {
    width: 180px;
    padding: 16px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #f2c14e;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    transition: background-color ease 0.3s;
    font-weight: bold;
}

.slide-text button:hover {
    background-color: #f2c14e;
}

.slides.active {
    opacity: 1;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 51px);
    color: white;
    font-size: 64px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.slider-container:hover .prev,
.slider-container:hover .next {
    opacity: 1;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.dots {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;
}

.media-links {
    text-align: center;
    padding: 100px 0;
}

.media-links h1 {
    color: #f78154;
    transform: rotate(3deg);
    margin-bottom: -15px;
}

.media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 50px auto 0px auto;
}

.media-icons svg {
    fill: #000;
    transition: fill .3s ease;
}

.media-icons svg:hover {
    fill: #f78154;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #4d9078;
    margin: 0 auto;
    color: #fff;
    padding: 50px 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-columns ul {
    list-style: none;
    padding-left: 0;
}

.footer-column {
    width: 300px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer hr {
    width: 10%;
    color: #fff;
    margin-top: 50px;
}

.footer-credit {
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 1300px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }

    .header-logo img {
        padding: 0 10px;
    }

    .header-links {
        flex-wrap: nowrap;
        gap: 5px;
        justify-content: space-around;
        width: 100%;
        padding: 0 10px;
    }

    .slider-container {
        box-shadow: 0 5px 10px 2.5px;
    }

    .prev,
    .next {
        font-size: 32px;
        top: calc(50% - 20px);
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .header-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #f78154;
    }

    .header-link-underline::after {
        transform: scale(1)
    }

    .header-link-underline:hover::after {
        transform: none;
    }

    .slide-text h2 {
        font-size: 32px;
    }

    .slide-text {
        font-size: 14px;
    }

    .slide-text button {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .dot {
        display: none;
    }

    .slide-text p {
        display: none;
    }

    .slide-text button {
        display: none;
    }

    .media-links {
        padding: 30px 0;
    }

    .media-icons {
        margin-top: 20px;
    }

    .media-icons svg {
        width: 35px;
    }
}